<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>PORT:<%= VARIABLES.PORT %></h2>
        <h2>HOST:<%= VARIABLES.HOST %></h2>
        <h2>ENVIROMENT:<%= VARIABLES.NODE_ENV %></h2>
        <h2>COOKIE EXPIRATION TIME:<%= VARIABLES.COOKIE_EXP_TIME %></h2>
        <h2>DB URI:<%= VARIABLES.MONGOATLAS_URI%></h2>
        <h2>MAIL NOTIFICATION ROOT :<%= VARIABLES.NODEMAILER_GMAIL_ADRESS%></h2>
        <h2>DB URI OF SESSIONS :<%= VARIABLES.MONGOATLAS_URI_SESSION%></h2>
    </body>
</html>
